.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  .payment-plan {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    height: 10vh;
    padding: 1rem;
    align-items: center;
    background-color: hsl(231, 100%, 99%);
    border: hsl(231, 11%, 63%) 1px solid;
    border-radius: 10px;
    cursor: pointer;
    .image {
      padding-bottom: 2rem;
      img {
        height: 3rem;
      }
    }
  }
}
.payment-plan:hover {
  background-color: hsl(217, 100%, 97%);
  border-color: hsl(228, 100%, 84%);
}
.payment-plan:active {
  background-color: hsl(217, 100%, 77%);
}

.monthly-yearly {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: hsl(231, 100%, 99%);
  padding: 1rem;
  border-radius: 15px;
  .toggle {
    background-color: hsl(213, 96%, 18%);
    width: 2.25rem;
    border-radius: 15px;
    align-items: center;
    padding: 0.25rem;
    div {
      background-color: white;
      height: 0.9rem;
      width: 0.9rem;
      border-radius: 50%;
      border: hsl(213, 96%, 18%) 1px solid;
    }
  }
  .toggle.yearly {
    div {
      transform: translateX(110%);
    }
  }
  .monthly {
    color: hsl(213, 96%, 18%);
    text-decoration: underline;
  }
  .yearly {
    color: hsl(213, 96%, 18%);
    text-decoration: underline;
  }
}
