header {
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  div {
    border: white 0.05rem solid;
    padding: 0.5rem 0.75rem;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 50%;
  }
  div.selected {
    background-color: hsl(206, 94%, 87%);
    border: none;
    color: black;
    padding: 0.75rem 1rem;
  }
}

@media (min-width: 768px) {
  header {
    flex-direction: column;
    background-image: url("../../assets/images/bg-sidebar-desktop.svg");
    justify-content: space-evenly;
  }
}
