.title {
  padding-top: 1rem;
  margin-bottom: 1.5rem;
  width: 80%;
  h2 {
    color: hsl(213, 96%, 18%);
    margin-bottom: 1rem;
  }
  p {
    color: hsl(231, 11%, 63%);
    font-size: 15px;
    line-height: 1.5rem;
  }
}
.content {
  .add-on {
    padding: 1rem 0.75rem;
    gap: 1rem;
    display: flex;
    border: hsl(229, 24%, 87%) solid 1px;
    border-radius: 10px;
    font-size: 16px;
    align-items: center;

    .add-on-text {
      display: flex;
      flex-direction: column;
      h4 {
        color: hsl(213, 96%, 18%);
      }
      p {
        color: hsl(231, 11%, 63%);
      }
    }
    .price {
      font-size: 14px;
    }
  }
  .add-on.selected {
    background-color: hsla(243, 100%, 62%, 0.045);
    border-color: hsl(243, 100%, 62%);
  }
}
