main {
  display: flex;
  flex-direction: column;

  .card-title {
    margin-bottom: 1.5rem;
    width: 80%;
    h1 {
      color: hsl(213, 96%, 18%);
      margin-bottom: 1rem;
    }
    p {
      color: hsl(231, 11%, 63%);
      font-size: 15px;
      font-weight: 500;
      line-height: 1.5rem;
    }
  }
  .card-content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    label {
      color: hsl(213, 96%, 18%);
      font-weight: 500;
    }
    input {
      color: hsl(229, 24%, 87%);
      font-size: 16px;
      margin-bottom: 1rem;
      padding: 0.75rem;
      border-radius: 5px;
      border: hsl(231, 11%, 63%) 1px solid;
      font-weight: 700;
      color: hsl(229, 24%, 87%) 1px solid;
    }
    input::placeholder {
      color: hsl(231, 11%, 63%);
    }
  }
}
