main {
  display: flex;
  flex-direction: column;

  .card-title {
    margin-bottom: 1.5rem;
    width: 80%;
    h1 {
      color: hsl(213, 96%, 18%);
      margin-bottom: 1rem;
    }
    p {
      color: hsl(231, 11%, 63%);
      font-size: 15px;
      font-weight: 500;
      line-height: 1.5rem;
    }
  }
  .card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    label {
      color: hsl(213, 96%, 18%);
      font-weight: 500;
    }
    .payment-plan {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      padding: 0.25rem;
      border: black solid 1px;
      border-radius: 10px;
      padding: 1rem;
    }
  }
}
