main {
  display: flex;
  flex-direction: column;

  .card-title {
    margin-bottom: 1.5rem;
    width: 80%;
    h1 {
      color: hsl(213, 96%, 18%);
      margin-bottom: 1rem;
    }
    p {
      color: hsl(231, 11%, 63%);
      font-size: 15px;
      line-height: 1.5rem;
    }
  }
}
